storage: /verdaccio/storage/data
plugins: /verdaccio/plugins

web:
  enable: false
  title: Verdaccio

auth:
  htpasswd:
    file: /verdaccio/storage/htpasswd/htpasswd
    # disables registration:
    max_users: -1

uplinks:
  npmjs:
    url: https://registry.npmjs.org/
    max_fails: 40
    fail_timeout: 10m
  npmjsnocache:
    max_fails: 40
    fail_timeout: 10m
    url: https://registry.npmjs.org/
    cache: false

packages:
  'expo':
    access: $all
    publish: $authenticated
    unpublish: $authenticated
    proxy: npmjsnocache

  '@*/*':
    access: $all
    publish: $authenticated
    unpublish: $authenticated
    proxy: npmjs

  '**':
    access: $all
    publish: $authenticated
    unpublish: $authenticated
    proxy: npmjs

log: { type: stdout, format: pretty, level: warn }
